<div>
  <object  width="100%" height="300" [data]="video.video | safe" frameborder="0" allowfullscreen></object>
  
  <form>
    <div class="form-group" *ngIf="editTitle">
      <input type="input" class="form-control" name="title" required placeholder="title" [(ngModel)]="video.title">
    </div>
    <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>
    <div class="form-group">
      <input type="input" class="form-control" name="url" required placeholder="video" [(ngModel)]="video.video">
    </div>
    <div class="form-group">
      <textarea rows="5" name="desc" class="form-control" required placeholder="title" [(ngModel)]="video.desc"></textarea>
    </div>
  </form>
</div>
