<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VideoPlayer</a>
    </div>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/videos" routerLinkActive="active" class="nav-link">Playlist</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
